<div class="row">
  <div class="col">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Home</div>
        <div class="card-body">
          <div>
            <b>Server in port <span style="color:blueviolet;">{{PORT}}</span> running in process <span style="color:red;">{{process}}</span></b>
            <hr>
          </div>
          <a href="/info" class="btn btn-primary">Informacion del Sistema</a>
          <a href="/api/randoms?cant=2000" class="btn btn-primary">Randoms</a>
        </div>
    </div>
  </div>
</div>

