<div class="row">
  <div class="col">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Numeros randoms</div>
      <div class="card-body">
        Numeros: 
        <ul>
          {{#each resultado}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="card-footer">
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
</div>